:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body {
  margin: 0;
  overflow: hidden;
}


/* header */
header {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

header h1 {
  margin: 0;
  width: 75%;
  text-align: center;
}

input {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border: 3px solid var(--primary-color);
  border-radius: 25px;
  color: #fff;
  outline: none;
  font-size: 1rem;
}

input::placeholder {
  color: #f2f2f2;
  font-size: 1rem;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;
  align-items: space-around; */
  padding: 3rem;
  background-size: fill;
  background-color: var(--primary-color);
}

/* movie card */
.movie {
  position: relative;
  width: 250px;
  margin: 1rem;
  background-color: var(--secondary-color);
  overflow: hidden;
}

img {
  width: 100%;
}

.movie-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-detail h3 {
  margin: 0;
  color: #f2f2f2;
}

.rate {
  padding: 0.25rem 0.35rem;
  background: var(--primary-color);
  border-radius: 3px;
}

.movie-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  background-color: #f2f2f2;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.4s ease-in;
}

.movie:hover .movie-info {
  transform: translateY(0);
}
